@import "../../app.scss";
.navbar{
    height: 100px;
    padding-right: 10rem;
    padding-left: 10rem;
    width: 100%;
 
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width:1366px ;
        margin: auto;
        height: 100%;

        @include mobile {
            gap: 7rem;
        }
        
        

        span {
            font-weight: bold;

            @include mobile {
                font-size:1.4rem;
            }
        }

        .social {
            display: flex;
            gap: 10px;
            width: 100%;
            justify-content: right;
            align-items: center;
            padding-right: 3rem;
            

            img{
               width: 18px ;
               height: 18px

            };
        }


    }
}
    
