
.navbar{
    height: 100px;
    padding-right: 10rem;
    padding-left: 10rem;
 
    

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width:1366px ;
        margin: auto;
        height: 100%;
        
        

        span {
            font-weight: bold;
        }

        .social {
            display: flex;
            gap: 20px;

            img{
               width: 18px ;
               height: 18px

            };
        }


    }
}